.search-filter p {
  font-size: 0.7em;
  color: #888;
  margin-bottom: 2px;
}

.search-filter .brand-result::before {
  content: open-quote;
}

.search-filter .brand-result::after {
  content: close-quote;
}

.search-filter .any {
  margin: 1em 0;
}

.search-filter h2 a {
  color: #383838;
  text-decoration: none;
}

.search-filter .any a {
  color: #ab4454;
}

.search-filter h1 {
  font-size: 1.2em;
  padding: 0.2em 0;
  border-bottom: 1px solid #d9d9d9;
}

.search-filter h2 {
  font-size: 1em;
  color: #383838;
  -webkit-transition: color 30ms ease-in;
  transition: color 30ms ease-in;
}

.search-filter h2:hover {
  color: #d35266;
}

.search-filter label {
  font-size: 0.8em;
}

.result-filter p {
  font-size: 0.8em;
  color: #888;
  margin: 1em 0;
}

.result-filter .from {
  color: black;
  font-weight: 700;
}

.result-filter .title {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.result-filter .add .card-price {
  font-size: 1.7em;
  background-color: #d35266;
  color: white;
  padding: 0 1em;
}

.result-filter .sale-b {
  color: #ff7b00;
}

.pages span {
  margin: 1em 0.2em;
  display: inline-block;
  padding: 1px 8px;
  border: 1px solid #d9d9d9;
  position: relative;
  -webkit-transition: background-color 20ms ease-out;
  transition: background-color 20ms ease-out;
}

.pages span:hover {
  background-color: #d35266;
}

@media (min-width: 768px) {
  .wrapper-header {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1.5em;
  }

  .wrapper-header p {
    margin: 0;
  }

  .wrapper-header .small-logo {
    font-weight: 700;
    line-height: 1;
  }

  .wrapper-header .logo-span {
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  .result-filter {
    margin-top: 48.5px;
  }

  .result-filter p {
    padding-right: 36px;
  }

  .result-filter .card img {
    max-width: 300px;
  }

  .result-filt {
    margin-top: 1em;
  }
}
