
$primary-clr: #d35266;
$light: #888888;
$dark: #383838;
$primary-darker: #ab4454;
$primary-lighter: #e65a6f;


@media (min-width: 768px) {
    .wrapper-header {
        height: 250px;
        position: relative;
        .logo-bg {
            position:absolute;
            top: 0;
            left: 0;
            transform: rotate(-30deg);
            font-size: 190px;
            color: rgba($color: white, $alpha: 0.1);
        }

        .fig-logo {
            
            text-align: center;
            color: white;
            font-size: 1.5em;
            text-transform: capitalize;
            font-weight: 300;
           
        }
    }

    .header {

        ul {
            max-width: 600px;
        }
    }

    .hero-logo {
        color: white;
        padding-top: 1em;
        i {
            font-size: 80px;
        }

        p {
            font-size: 30px;
            font-weight: 900;
            margin-bottom:0 ;
            line-height: 1;
        
        }

        
    }

    .header-search {
        input {
            padding: 0.6em;
        }
       
    }

    .slider {
        height: 240px;
        .cardo {
            align-items: center;
            img {
                width: 50%;
                max-width: 200px;
            }
        }
    }

}

@media (min-width:992px) {

    .profile {
        color: $light;
        font-size: 1em;

        img {
            width: 20px;
            border-radius: 40%;
        }
    }

    .copyright {
        padding-top:10px;
        span{
            line-height: 1;
        }
    }

}