$primary-clr: #d35266;
$light: #888888;
$dark: #383838;
$primary-darker: #ab4454;
$primary-lighter: #e65a6f;

@media (min-width: 768px) {
  .wrapper-header {
    height: 250px;
    position: relative;
    .logo-bg {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-30deg);
      font-size: 190px;
      color: rgba($color: white, $alpha: 0.1);
    }

    .fig-logo {
      text-align: center;
      color: white;
      font-size: 1.5em;
      text-transform: capitalize;
      font-weight: 300;

      p {
        .dream {
          display: inline-block;
          position: relative;
        &::before {
          content: '';
          width: 100%;
          height: 1px;
          position: absolute;
          background-color: white;
          bottom: 0;
          transform-origin: left;
          transform: scaleX(0);
          animation: 2s line linear forwards;
        }
        @keyframes line {

          0% {
            transform: scaleX(0);
          }

      
          90% {
            transform: scaleX(1);
          }

          100% {
            
            transform: scaleX(1);
            transform-origin:right ;
            background-color:$primary-clr;
          }
          

        }
        }

        .real {
          position: relative;
          &::after {
            content: '';
            width: 100%;
            background-color:white ;
            height: 1px;
            position: absolute;
            bottom: 0;
            left:0;
            transform: scaleX(0);
            transform-origin:left ;
            animation: 2s line2 1s linear forwards;
          }
  
          @keyframes line2 {
            90% {
              transform: scaleX(0);
              
            }
            100% {
              transform: scaleX(1);
              transform-origin: right;
            }
          }
        }
      }
     
    }
  }

  .header {
    ul {
      max-width: 600px;

      a {
        i {
          font-size: 13px;
        }
      }
    }
  }

  .hero-logo {
    color: white;
    padding-top: 1em;
   
    i {
      font-size: 80px;
      
    }

    p {
      font-size: 30px;
      font-weight: 900;
      margin-bottom: 0;
      line-height: 1;
    
    }

    
  }

  .header-search {
    input {
      padding: 0.6em;
    }

    form {
      overflow: visible;
    }
  }

  .slider {
    height: 250px;
    .cardo {
      align-items: center;
      img {
        width: 50%;
        max-width: 200px;
      }
    }
  }
}

@media (min-width: 992px) {
  .header {
    ul {
      min-width: 500px;
    }
  }

  .profile {
    color: $light;
    font-size: 1em;

    i {
      &:hover {
        color: $primary-clr;
      }
    }

    img {
      width: 20px;
      border-radius: 40%;
    }
  }

  .copyright {
    padding-top: 10px;
    span {
      line-height: 1;
    }
  }
}
